@page "/counter"
@inject NavigationManager Nav

<div class="timer-wrapper">
    <div class="timer-board">
        <span class="timer-text">00:00</span>
    </div>
    <button class="settings-btn" @onclick="GoToSettings">
        <svg height="32" width="32" viewBox="0 0 24 24">
            <path fill="#616161" d="M12 15.6a3.6 3.6 0 1 1 0-7.2 3.6 3.6 0 0 1 0 7.2ZM19.43 12.98c.04-.32.07-.65.07-.98s-.03-.66-.07-.98l2.11-1.65a.5.5 ... " />
        </svg>
    </button>
</div>

@code {
    void GoToSettings()
    {
        Nav.NavigateTo("/counter/settings");
    }
}
